.container { width: 1360px;
    margin: auto; 
    /* padding-top: 1em; */
    
   margin-right: 0px;
   padding-left: 0px;

    }
.container .ism-slider { margin-left: 0; margin-right:0; }
p{
   font-weight: 9000;
   /* padding: 50px; */
   text-align: center;
}