{%extends "index.html"%}

{%block body%}


<div id="reg" class="container-fluid">
  
  <div  class="row">

      <h1>REGISTERATION</h1>
      <form method="POST" action="/achk">
          <p>FIRST NAME:</p>
          <input type="text" name="firstname">
          <br>
         <p>LAST NAME:</p>
          <input type="text" name="lastname"><br>
        
           <p> EMAIL:</p>
            <input type="email" name="mail" ><br>
            <p>PH NO:</p>
            <input type="number" name="" id=""><br>
            <p>ID CARD NO:</p>
            <input type="text" name="" id=""><br>
            <input type="submit" class="btn btn-success" value="register">
      </form>

  </div>
  
</div>


{%endblock%}


