{%extends "index.html"%}

{%block body%}

<div id="home" >
    
    <div class='container'>

        <div class="ism-slider" data-play_type="once" data-image_fx="zoompan" data-radios="false" id="dj-party">
          <ol>
            <li>
            <a href="" target="_blank">
              <img src="/static/img/slides/_u/1st.jpg">
              <div class="ism-caption ism-caption-0">

                <p>  The right music is crucial for any good party, and we have made it our business to bring the perfect musical accompaniment for every wedding, gala or party. From the classics to today's top hits, we have exactly what you need to get your party started.</p>
              </div>
            </a>
            </li>
            <li>
              <img src="/static/img/slides/_u/3rd.jpg">
              <div class="ism-caption ism-caption-0"><p>Use the form below to contact Our DJ. If it is urgent, please don't hesitate to give us a call!</p></div>
            </li>
            <li>
              <img src="/static/img/slides/_u/6th.jpg">
              <div class="ism-caption ism-caption-0"><p>We strive to provide a quality mix of music, as well as to emcee your reception in a subtle yet professional manner.</p></div>
            </li>
          </ol>
        </div>
        
        </div>

</div>




{%endblock%}